
/***############### Base reset and generic styles for print ***/
/*Enable background-colors and background-images on (most) browsers. */
* { -webkit-print-color-adjust: exact !important; /* Chrome, Safari */ color-adjust: exact !important; /* Firefox */ }

.noprint { display: none; }
/***########## End of General Reset and Setup ****/



/***############### Website Specific Styles. ***/

.site-title a,
.twentyseventeen-front-page.has-header-image .site-title a { color: #ffffff !important; }

.site-description, 
.twentyseventeen-front-page.has-header-image .site-description { color: #ffffff !important; }

.wp-block-column a, 
.wp-block-column a:link { color: var(--color-1) !important; }

.navigation-top,
button.menu-toggle,
.site-footer aside.widget-area,
.site-info { display: block !important; }

.wrap { padding-left: 3rem !important; padding-right: 3rem !important; }


/*Nav*/
.main-navigation a { color: var(--color-1) !important; }


/*Widget Area*/
.cat-item a,
.cat-item a:link { color: var(--color-1) !important; }


/*Footer*/
.site-info__social-logo__link { color: var(--color-1) !important; }


/*Plugin Customizations*/
/*Meta Slider*/
.flex-active { color: #ffffff !important; }


/*WooCommerce*/
ul.products li.product .button { color: #ffffff !important; }


/*Contact Form 7*/
form.wpcf7-form { display: block !important; }
.wpcf7-form input,
.wpcf7-form textarea { display: block! important; }



@media only print and (min-width: 30em) {
    /*Body and content wrappers*/
    .wrap { max-width: 1100px; padding-left: 3rem; padding-right: 3rem; }
    .navigation-top .wrap { max-width: 1100px; }

    .page-one-column .panel-content .wrap, 
    .site-content .wrap { max-width: 1100px; }
    .single-post:not(.has-sidebar) #primary, 
    .page.page-one-column:not(.twentyseventeen-front-page) #primary, 
    .archive.page-one-column:not(.has-sidebar) .page-header, 
    .archive.page-one-column:not(.has-sidebar) #primary { max-width: 1100px; }
    
    
    .page.page-one-column .entry-header, 
    .twentyseventeen-front-page.page-one-column .entry-header, 
    .archive.page-one-column:not(.has-sidebar) .page-header { margin-bottom: 1em; }
    .panel-content .wrap, 
    .site-content { padding-top: 3em; }
}
